a {
  text-decoration: none;
  color: rgb(23, 44, 48);
}
body {
  background-color: rgb(232, 234, 232);
  color: rgb(23, 44, 48);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  margin: 0%;
  padding: 0%;
  min-width: 100%;
  width: 100%;
}
footer {
  background-color: rgba(131, 155, 151, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
h1 {
  font-size: 1em;
}
h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2.5em;
  padding: 0em 0.5em 0em 0.2em;
}
h4 {
  padding: 0em 0.5em 0.5em 0.5em;
  text-emphasis: bold;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
html {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgba(131, 155, 151, 0.1);
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
.alert {
  background-color: rgba(131, 155, 151, 0.1);
  text-align: center;
}
.bio {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 1em;
}
.bio-left {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}
.bio-right {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}
.blurb {
  font-size: 0.9em;
  padding: 1.5em 0.3em 0.3em 0.3em;
}
.coded-by {
  padding: 3em 3em 0.5em 3em;
  text-align: center;
}
.contact {
  border: 1px solid rgba(23, 44, 48, 1);
  box-shadow: 0.5em 0.5em 0.5em rgba(23, 44, 48, 0.5);
  margin: 1em;
  padding: 1.5em;
  width: 30%;
}
.contact-info {
  margin: 1% 2%;
  padding: 0;
  font-size: 1.1em;
  max-width: 30%;
}
.container {
  margin: 0%;
  min-width: 100%;
  padding: 0%;
  width: 100%;
}
.description {
  font-size: 0.5em;
  margin: 0% 0% 0% 10%;
  padding: 0;
}
.disabled {
  color: rgba(23, 44, 48, 0.5);
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.headshot {
  box-shadow: 0.5em 0.5em 0.5em rgba(23, 44, 48, 0.7);
}
.left-side {
  display: flex;
  flex-direction: row;
}
.logo {
  position: relative;
  right: 0.3em;
  top: 0.5em;
  height: 5.5em;
  width: 9em;
  z-index: -1;
}
.menu {
  margin: 2% 0% 0% 0%;
}
.menu li {
  display: inline;
  list-style-type: none;
  padding: 1em;
}
.mountain {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  max-height: 80%;
}
.name {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.9em;
  position: relative;
  top: 0.5em;
  right: 0.6em;
}
.pricing {
  border: 1px solid rgba(23, 44, 48, 1);
  box-shadow: 0.5em 0.5em 0.5em rgba(23, 44, 48, 0.5);
  margin: 1em;
  min-width: 300px;
  padding: 1.5em;
  width: 30%;
}
.services {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2.5em;
  padding: 2em 1em 1em 1em;
  text-align: center;
}
.service-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0em 2em 2em 2em;
}
.schedule-btn {
  border-radius: 20px;
  border: 1px solid rgba(23, 44, 48, 0.8);
  box-shadow: 0.1em 0.1em 0.1em rgba(23, 44, 48, 0.8);
  background-color: rgba(145, 91, 96, 0.5);
  color: rgba(23, 44, 48, 1);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1em;
  margin-right: 3%;
  margin-top: 1em;
  max-height: 3em;
  padding: 0.5em;
}
.specialties {
  border: 1px solid rgba(23, 44, 48, 1);
  box-shadow: 0.5em 0.5em 0.5em rgba(23, 44, 48, 0.5);
  margin: 1em;
  padding: 1.5em;
  width: 30%;
}
.specialties li {
  list-style-type: none;
  margin-left: 1em;
}
.welcome {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 3.5em;
  margin: 0.5em;
  padding: 1em 1em 0em 1em;
  text-align: center;
}
a:hover {
  background-color: rgba(145, 91, 96, 0.1);
  color: rgb(102, 65, 68);
  cursor: pointer;
  transition: all 200ms ease;
}
button:hover {
  cursor: pointer;
  background-color: rgba(145, 91, 96, 0.3);
  transition: all 200ms ease-in-out;
}
.disabled:hover {
  background-color: transparent;
  cursor: default;
  color: rgba(23, 44, 48, 0.5);
}
@media screen and (max-width: 800px) {
  .bio {
    display: flex;
    flex-direction: column;
  }
  .contact {
    width: 75%;
  }
  .headshot {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    max-height: 60%;
  }
  .pricing {
    width: 75%;
  }
  .service-body {
    flex-direction: column;
    justify-content: center;
  }
  .specialties {
    width: 75%;
  }
}
@media screen and (max-width: 659px) {
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.2em;
  }
  .bio {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .dropbtn {
    background-color: rgba(145, 91, 96, 0.5);
    border: 1px solid rgba(23, 44, 48, 0.7);
    border-radius: 8px;
    box-shadow: 0.1em 0.1em 0.1em rgba(23, 44, 48, 0.8);
    color: rgb(23, 44, 48);
    padding: 0.3em;
    transition-duration: 200ms;
  }
  .dropdown {
    margin-left: 8%;
    margin-top: 2%;
  }
  .dropdown-menu {
    background-color: rgba(131, 155, 151, 0.9);
    border-radius: 8px;
  }
  .menu {
    display: none;
  }
  .schedule-btn {
    display: none;
  }
  .toggle {
    height: 1.5em;
    width: 1.5em;
  }
  .dropbtn:hover {
    cursor: pointer;
    background-color: rgba(145, 91, 96, 0.3);
    transition: all 200ms ease-in-out;
  }
  .dropdown-item:hover {
    background-color: rgba(192, 209, 204, 0.9);
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
}
@media screen and (max-width: 400px) {
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2em;
  }
  .bio {
    margin: 0;
    padding: 0;
  }
  .coded-by {
    padding: 0.5em;
  }
  .dropdown {
    margin-left: 2%;
  }
  .footer-flex {
    flex-direction: column;
  }
  .logo {
    width: 4.5em;
    height: 2.5em;
    top: 0.5em;
  }
  .name {
    font-size: 1.2em;
  }
  .welcome {
    font-size: 2em;
  }
}

@media screen and (min-width: 660px) {
  .dropdown {
    display: none;
  }
  .dropbtn {
    display: none;
  }
}
