a {
  text-decoration: none;
  color: rgb(23, 44, 48);
}
body {
  background-color: rgb(232, 234, 232);
  color: rgb(23, 44, 48);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  width: 100%;
}
h1 {
  font-size: 1em;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}
html {
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  list-style-type: none;
  padding: 1em;
}
nav {
  background-color: rgba(131, 155, 151, 0.1);
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
.contact-info {
  margin: 1% 2%;
  padding: 0;
  font-size: 1.1em;
}
.container {
  margin: 0%;
  padding: 0%;
  width: 100vw;
}
.description {
  font-size: 0.5em;
  margin-left: 45%;
}
.menu {
  margin: 2% 0% 0% 0%;
}
.mountain {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  max-height: 80%;
}
.name {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  margin-left: 10%;
}
.schedule-btn {
  border-radius: 20px;
  border: 1px solid rgba(23, 44, 48, 0.8);
  box-shadow: 0.1em 0.1em 0.1em rgba(23, 44, 48, 0.8);
  background-color: rgba(145, 91, 96, 0.5);
  color: rgba(23, 44, 48, 1);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1em;
  margin-right: 3%;
  max-height: 3em;
  padding: 0.5em;
}
a:hover {
  color: rgb(102, 65, 68);
  cursor: pointer;
  transition: all 200ms ease;
}
button:hover {
  cursor: pointer;
  background-color: rgba(145, 91, 96, 0.3);
  transition: all 200ms ease-in-out;
}
@media screen and (max-width: 649px) {
  .dropbtn {
    background-color: rgba(145, 91, 96, 0.5);
    border: 1px solid rgba(23, 44, 48, 0.7);
    border-radius: 8px;
    box-shadow: 0.1em 0.1em 0.1em rgba(23, 44, 48, 0.8);
    color: rgb(23, 44, 48);
    padding: 0.3em;
    transition-duration: 200ms;
  }
  .dropdown {
    margin-left: 8%;
    margin-top: 2%;
  }
  .dropdown-menu {
    background-color: rgba(131, 155, 151, 0.9);
    border-radius: 8px;
  }
  .menu {
    display: none;
  }
  .name {
    margin-left: 25%;
  }
  .schedule-btn {
    display: none;
  }
  .toggle {
    height: 1.5em;
    width: 1.5em;
  }
  .dropbtn:hover {
    cursor: pointer;
    background-color: rgba(145, 91, 96, 0.3);
    transition: all 200ms ease-in-out;
  }
  .dropdown-item:hover {
    background-color: rgba(192, 209, 204, 0.9);
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
}

@media screen and (min-width: 650px) {
  .dropdown {
    display: none;
  }
  .dropbtn {
    display: none;
  }
}
@media all {
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100vw;
  }
}
